
.panel {
  position: absolute;
  left: -300px;
  width:300px;
  top: 25px;
  min-height: 300px;
  border-radius:0px;
  background: rgba(36,39,47,1);
  transition: .5s;

}

.panel-show {
    left: 25px;
}

.panel-header {
  padding: 10px;
  background-color: #29323b;
}
.panel-title {
  display:flex;
  padding: 0px;
}
.panel-logo {
  padding-right: 5px;;
}
.panel-name {
  color: rgb(31, 186, 214);
  text-wrap: nowrap;

}

.panel-icons {
  color: #6a7485;
  width: 100%;
  padding-top: 3px;
  font-size: 20px;
}

.panel-close-button {
  background-color: #29323b;
  float:right;
  cursor: pointer;
}

.right {
  float:right;
}

.p-right-10 {
  padding-right:10px;
}