/* 2021-9-4 14:15:36 | 版权所有 火星科技 http://marsgis.cn */

.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
	padding: 5px;
	position:absolute; 
	top: 0px; 
	bottom:0px; 
	overflow: auto; 
	width:100%;
}

#layers_table {
	padding: 5px !important; 
	width: 100% !important;
}

#layers_table td {
	padding: 0px !important; 
}

.form-control {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.processId {
	font-size: 14px;
    color: #dcdcdc;
    font-weight: bold;
  }


.fixed-table-header {
	margin-bottom: 5px;
}

.dataTable {
	width: 100% !important;
}

.dataTable tr {
	height: 55px;
	padding: 0px !important;
}
.dataTable td {
	padding: 5px !important;
    font-size: 14px;
    color: #999;
	border:none;
}

.dataTable td div {
	display: flex;
    flex-direction: column;
	margin: 0px !important;
	padding: 5px !important;
}

.bootstrap-table .table {
	width: 100% !important;
}

.table > thead > tr > th {
    border: none !important ;
}

.bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
    border-bottom: none !important;
}

