/*************************************************************
HTML, BODY
**************************************************************/
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background: #000;
  -webkit-overflow-scrolling: touch;
}
:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}

h2 {
    font-size: 14px;
    font-family: var(--font-title);
    color: var(--white);
    line-height: 1.1;
}

p {
    font-family: var(--font-text);
    font-size: 12px;
    line-height: 1.5;
    color: var(--white);
}

.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

/*************************************************************
Window dialog
**************************************************************/
.layer-mars-dialog .layui-layer-title {
    background: rgba(30, 36, 50, 0.95);
}

.layer-mars-dialog .layui-layer-content {
    background-color: rgba(30, 36, 50, 0.95);
}
/*************************************************************
Logo
**************************************************************/
.logo {
    filter: invert(100%); opacity: .8;
}
.brand-image {
    height: 28px !important;
}

/************************************************************
Navbar
*************************************************************/
.badge {
    padding:5px
}

.main-header {
    margin-left:0 !important;
}
.sidebar-button {
    padding-top: 8px !important;
}
.nav-link {
    padding-left: 9px !important;
    padding-right: 8px !important;
}
.flag-icon-selected {
    padding-top: 6px !important;
}

.full-screen {
    padding-top: 3px !important;
}
.application-count {
    margin: 0px 10px;
    display: flex;
    height: 28px;
    
}

.application {
    padding: 5px !important;
    background-color: rgb(63, 103, 145);
}
.count {
    margin: 0px;
    padding: 5px !important;
    font-weight: 600;
    font-size: 12px;
    width: unset;
    background-color: gold;
    color: black;
    border-radius: 0px;
}
/************************************************************
Searchbar 
*************************************************************/
.searchbar {
    width: 100%;
    max-width: 600px;
    margin:auto;
}
.searchbar-li {
    width: 100%;
}

.search-button {
    border-radius: 0px !important;
}

.delete-search-button {
    position:absolute; 
    top:8px; 
    right:44px;
    cursor: pointer;
    display: none;
    z-index: 99999;
}

.categories-panel {
    width: 100%;
    background: rgba(63, 72, 84, 0.99);
    overflow: auto;
    max-height: 500px;
    scrollbar-color: #555555 #343a40;
    scrollbar-width: thin;
    position: absolute;
    top:28px;
  }

.category-filter {
    display: flex;
    flex-wrap: wrap;
}

.category-filter-all {
    width: 100%;
    border-bottom: 1px solid #56606a;
}

.custom-control {
    margin: 10px;
    width: 175px;
}
.custom-control-label {
    float: left; 
    height:20px; 
    padding-top: 1px;
}

.red {
    color: red;
}

/************************************************************
Content
*************************************************************/
.content-wrapper {
    overflow: auto;
    background-color:#343a40!important;
    scrollbar-color: #555555 #343a40;
    scrollbar-width: thin;
    padding: 0px !important;
    margin-left:0 !important;
}

/************************************************************
Cards
*************************************************************/
.card-container {
    display: grid;
    padding: 25px 0px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
    grid-gap: 0px;
    justify-content: center;
}

.card-envelope {
    padding:15px;
}

.card {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 21.875rem;
    height: 300px;
    overflow: hidden;
    border-radius: 0.625rem;
    border: 1px solid rgb(0, 0, 0) !important;
    -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    
}

.card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    width:100%;
    height: 100%;
    padding: 10px;
    /*
    background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0.1) 0%,
    hsla(0, 0%, 0%, 0.7) 10%,
    hsl(0, 0%, 0%) 100%
    );
    */
    background-color: rgba(0,0,0,0.7);
}

.card__content--container {
    --flow-space: 1.25rem;
}

.card-category {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 20px;
    margin:-4px;
    border-radius: 0;
    font-size: 11px;
    background-color: rgb(23 162 184 / 100%);
}

.card-main-icon {
    position: absolute;
}
.card-lock {
    font-size: 25px;
    color: lightgray;
    border-style: solid;
    padding: 7px 10px 10px 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-play {
    font-size: 25px;
    color: lightgray;
    border-style: solid;
    padding: 9px 10px 9px 13px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-info {
    position: absolute;
    right: -2px;
    font-size: 17px;
    top: -2px;
}

.card__title {
    position: relative;
    width: 100%;
    font-size: 12px;
    padding: 0px 15px 0px 0px;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
}

.card__description {
    margin-top: 20px;
    max-height: 180px;
    width:100%;
    overflow: auto;
    scrollbar-color: #555555 #343a40;
    scrollbar-width: thin;
}

.card__button {
    margin: 0px;
    padding: 2px 4px;
    width: fit-content;
    width: -moz-fit-content; /* Prefijo necesario para Firefox  */
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 12px;
    color: var(--black);
}

.card__content {
    transform: translateY(80%);
    transition: transform 250ms ease-out;
    transition-delay: 250ms;
}

.card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 250ms;
    transform-origin: right;
}

.card__background {
    transition: transform 250ms ease-in;
}

.card__content--container > :not(.card__title),
.card__button {
    opacity: 0;
    transition: transform 250ms ease-out, opacity 500ms ease-out;
}


.card_hover,
.card:focus-within {
    transform: scale(1.02);
    transition: transform 250ms ease-in;
}

.card_hover .card__content,
.card:focus-within .card__content {
    transform: translateY(0%);
    transition: transform 250ms ease-in;
}

.card:focus-within .card__content {
    transition-duration: 0ms;
}

.card_hover .card__background,
.card:focus-within .card__background {
    transform: scale(1.3);
}

.card_hover .card__content--container > :not(.card__title),
.card_hover .card__button,
.card:focus-within .card__content--container > :not(.card__title),
.card:focus-within .card__button {
    opacity: 1;
    transition: opacity 250ms ease-in;
    transition-delay: 250ms;
}

.card_hover .card__title::after,
.card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 250ms ease-in, transform 250ms ease-in;
    transition-delay: 250ms;
}
    
